<div class="container" ng-init="vm.load()">
    <h3>Datos del Banco: {{vm.bancos.descripcion}} </h3>

    <form id="formulario" name="formulario" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="descripcion">Descripcion:</label>
            <div class="col-sm-6">
                <input class="form-control"  type="text" id="descripcion" name="descripcion"
                       required="required" ng-model="vm.bancos.descripcion"
                       data-ng-class='{ error: formulario.descripcion.$invalid && !formulario.$pristine }'>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="esPos">Es Punto de Venta?:</label>
            <div class="col-sm-2">
                <input class="form-control" type="checkbox" id="esPos" name="esPos"
                       ng-model="vm.activo" >
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="codigoAdm">Codigo Administrativo:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="codigoAdm" name="codigoAdm" required="required"
                       ng-model="vm.bancos.codigoAdm" placeholder="Codigo administrativo"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <button ng-click="vm.volver()" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left"></span> Retorno</button>
                <button ng-click="vm.update(bancos.id)" class="btn btn-primary" data-ng-disabled='!formulario.$valid'>
                    <span class="glyphicon glyphicon-ok"></span> Actualizar</button>
            </div>

        </div>


    </form>
</div>