
<div class="container-fluid" ng-init="vm.load()">
    <div class="row-fluid">
        <div class="panel panel-default">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <h3 class="navbar-text">Todos los bancos</h3>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#bancos-create"  ><span class="glyphicon glyphicon-plus"></span> Nuevo</a></li>

                    </ul>
                </div>
            </nav>
            <div class="panel-body">

                <table id="tbl" class="table table-hover table-condensed">
                    <thead>
                    <th>ID</th>
                    <th>DESCRIPCION</th>
                    <!-- <th>CODIGO ADMINISTRATIVO</th>
                     <th>CODIGO TDD</th>
                     <th>CODIGO TDC</th>-->
                    <th>ES POS</th>
                    <th COLSPAN="2">ACCIONES</th>
                    </thead>
                    <tbody ng-repeat="row in vm.todos">
                    <tr>
                        <td ng-bind="row.id"></td>
                        <td ng-bind="row.descripcion"></td>
                        <!--<td ng-bind="row.codigoAdm"></td>
                        <td ng-bind="row.codigoTDD"></td>
                        <td ng-bind="row.codigoTDC"></td>-->
                        <td><input type="checkbox" disabled="disabled" ng-checked="vm.shouldBeDisabled(row)"></td>
                        <td>
                            <button ng-click="vm.editar(row.id)" class="btn btn-small btn-link">
                                <span class="glyphicon glyphicon-pencil"></span></button>
                            <button ng-click="vm.eliminar(row.id)" class="btn btn-small btn-link">
                                <span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
