.grid1 {
    width: 800px;
    height: 35px;

}
body {
    padding-top: 60px;
    background-color: lightgrey;
}


.csstablas{
    font-family: "Comic Sans MS", sans-serif;
    font-size: 12px;
}

.cssformas{
    font-family: "Comic Sans MS", sans-serif;
    font-size: 12px;
}

.etq{
    font-family: "Comic Sans MS", sans-serif;
    font-size: 20px;
}

.error {
    border-color: red;
}

.warning {
    border-color: yellow;
}
.panel-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 9px;


}
.panel-primary>.panel-heading{
    background-color:#660000;
}
.breadcrumb {
    background: rgba(255, 255, 255, 0);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 4px; display: block;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
}
.breadcrumb li {font-size: 18px;}
.breadcrumb a {color: white;}
.breadcrumb a:hover {color: white;}
.breadcrumb>.active {color: white;}
.breadcrumb>li+li:before {color: white; content: "\2771\00a0";}

.table th{
    /*font-family: "Comic Sans MS", sans-serif;*/
    font-size: 14px;
    padding:2px;
    background-color:grey;
    color: white;
    /*text-align: center;*/
}
.table td{
    /*font-family: "Comic Sans MS", sans-serif;*/
    font-size: 14px;
}

.table tfoot td{
    /*font-family: "Comic Sans MS", sans-serif;*/
    font-size: 14px;
    font-weight: bold;
}


.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.panel-body{

    text-align:center;
}

.fixed-panel {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}
.footer{
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    font-size: 12px;
}
.titulo1{
    background-color:indianred;
    color: white;
    text-align: center;
    font-size: 24px;
    letter-spacing: 10px;
}
.cuerpo1{
    background-color:floralwhite;
    height: 560px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo2{
    background-color:floralwhite;
    height: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo3{
    background-color:floralwhite;
    height: 900px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo4{
    background-color:floralwhite;
    height: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo5{
    background-color:floralwhite;
    height: 550px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo6{
    background-color:#d9edf7;
    height: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo7{
    background-color:#d9edf7;
    height: 75%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo8{
    background-color:#d9edf7;
    height:75%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.cuerpo9{
    background-color:#d9edf7;
    height: 1100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.titulo2{
    background-color:#8AC763;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 10px;
}
.titulo3{
    background-color:#8a6d3b;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 10px;
}
.titulo4{
    background-color:#440044;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 10px;
}
.titulo5{
    background-color:yellowgreen;
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 10px;
}
.cuadroCharPie{
    background-color: wheat;
    padding-left: 5px;
}

/*
Estilos del logon
*/
body {
    font: 12px Montserrat, sans-serif;
    line-height: 1.8;
    padding-top: 2px;
    font-family: 'Oxygen', sans-serif;
    background-color: #d3d3d3;
    padding-top: 60px;
}

#containerLogon {
    padding: 10px;

    text-align: center;
    width: 60%;
    margin: 0px auto;
    height: 100%;

}
#containerHoteles {
    padding: 10px;

    text-align: center;
    width: 60%;
    margin: 0px auto;
    height: 100%;

}
.form-horizontal{
    background-color: #EDEDED;
    border-radius: 15px;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h3{
    letter-spacing: 4px;
    text-align: center;
}
.boxLogin{
    margin:10px auto;
    width: 350px;
    border-radius: 5px;

}
.input-group{
    padding-top: 10px;
}

.form-control {
    border-radius: 10px;
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

@media (max-width: 568px) {

    body{font-size:9px;padding-top: 40px;}
    .table th{font-size: 3.0vw;}
    .table td{font-size: 3.0vw;}
    h1{font-size: 2.0em;}
    h2{font-size: 4.5vw;}
    h3{font-size: 4.0vw;}
    h4{font-size: 1.2em;}
    .jumbotron p{font-size: 1.5em;}
    .control-label{font-size: 1.0em;}
    .breadcrumb li {font-size:1.0em;}
    .btn{font-size:1.0em;}
    .pagination-sm > li > a{font-size: 8px;}
    a{font-size: 8px;}
    .form-control{
        width:75%;
        height: inherit;
        font-size: 0.9em;
    }
    .modal-body{font-size: 8px;}
    .input-group{
        margin-bottom: 15px;
        font-size: 12px;
    }
    .titulo1{
        font-size: 1.0em;
    }
    .col-sm-3{
        width: 100%;
        height: 70%;
        font-size: 0.5em;
    }
    caption{
        font-size: 0.5em;
    }
    tfoot td{
        font-size: 3.0vw !important;
    }
}

h4{
    letter-spacing: 10px;
    text-align: center;
    font-weight: bold;
}

h2{
    letter-spacing: 10px;
    text-align: center;
    font-weight: bold;
}


.chart.chart-pie{
    height: 300px !important;

}


.centered {
    text-align: center;
    font-size: 0;
    margin: 1px 1px 5px 1px;
}
.centered > div {
    float: none;
    display: inline-block;

}

.cuadro{
    margin: 0px;height: 200px;
    border: solid 5px lightgrey;

}

.cuadro2{
    margin: 0px;height:400px;
    border: solid 5px lightgrey;

}
.color1{
    background-color: blueviolet;
}
.color2{
    background-color: olivedrab;
}
.color3{
    background-color: #ff1894;
}

.color4{
    background-color:chocolate;
}

.color5{
    background-color:indianred;
}

.encabezado {
    color: white;
    background-color: #8AC763;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
div a {
    color: white;
}
div a:link {
    color: white;
    text-decoration:none;
}
div a:hover {
    color: white;
}
li a {
    color: blue;
}
